# Commmon files

.DS_Store
.rake_tasks
.byebug_history
Brewfile.lock.json

# Commmon dirs
.build
.bundle
.coverage
.secrets
.swagger

# JETBRAINS

# Because of global gitignored `/.idea` the root one can't be added.
# I don't want to change global, the stupid solution is to force add
# git add -f .idea/{*.iml,modules.xml}

#.idea/*
#!.idea/*.iml
#!.idea/modules.xml

# Jetbrains requests collection
.requests

# CUSTOM

.rubocop_todo.yml

# Not keeping in subdirs
.tools-versions
!/.tools-versions
.env*
!**/.env.example

# Dirs
**/tmp/*
!**/tmp/.keep
**/log/*
**/dev/*
**/node_modules/*
**/sorbet/rbi/**/*
